<div class="reward">
	<p><strong>Pledge $<%= reward.value %> or more</strong></p><br>
	<p><%= reward.name %></p><br>
	<p><%= reward.description %></p><br>
	<p><strong>Estimated delivery:</strong> <%= reward.estimated_delivery %></p>
</div>
<br>