// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward{
	div{
		background: #eee;
		border: solid 1px;
		padding: 10px;	
	}	
}
.reward:link, .reward:visited, .reward:hover, .reward:active{
	color:black;
}

.project-stats{	
	margin-bottom: 40px;
	.val{
		font-size: 40px;
		font-weight: bold;		
	}	
	
	.lab{		
		font-size: 18px;	
	}
}
